# Create Aggregate Table of User Rating Data

Finally, I want to create a new table to store the average rating and total ratings of each user_id.

## Find Average Rating of Each User ID

In [2]:
import pandas as pd

In [3]:
user_ratings = pd.read_csv(
    "../tests/test_data/expected_user_ratings_clean_results.csv"
)

In [4]:
user_average_rating = user_ratings.groupby("user_id")["rating_val"].mean().reset_index()
user_average_rating.rename(columns={"rating_val": "user_average_rating"}, inplace=True)

user_average_rating["user_average_rating"] = user_average_rating["user_average_rating"].round(2)

user_average_rating.shape
user_average_rating.head()

   user_id  user_average_rating
0        1                 7.59
1        2                 7.38
2        3                 8.48
3        4                 6.83
4        5                 7.54

## Find Rating Count of Each User ID

In [5]:
user_rating_count = user_ratings.groupby("user_id").size().reset_index(name="rating_count")

user_rating_count.head()

   user_id  rating_count
0        1           788
1        2           142
2        3           123
3        4           580
4        5           257

### Merge these two DataFrames into one

In [8]:
merge_ratings_aggregated = user_average_rating.merge(user_rating_count, on="user_id", how="left")

merge_ratings_aggregated.head()
merge_ratings_aggregated.shape

(7449, 3)

I'm happy with this table now, let's export the result of the merge into a CSV file so we can test against it in the pipeline.

In [9]:
merge_ratings_aggregated.to_csv(
    "../tests/test_data/expected_aggregated_user_ratings_results.csv", index=False
)