# Merge the Transformed Data Sets

In [34]:
import pandas as pd

Let's make sure we're confident of the results by using the results of the transforming saved into CSV files to work on merging them.

In [35]:
movies = pd.read_csv(
    "../tests/test_data/expected_movies_clean_results.csv"
)

movies_with_ratings = pd.read_csv(
    "../tests/test_data/expected_movies_with_ratings_clean_results.csv"
)

user_ratings = pd.read_csv(
    "../tests/test_data/expected_user_ratings_clean_results.csv"
)

First we will merge the two movie tables to get the ratings for the movies matched by title and release date. Then drop the unnecessary columns.

In [36]:
merged = movies.merge(
    movies_with_ratings[['name', 'date', 'rating']], 
    left_on=['movie_title', 'year_released'], 
    right_on=['name', 'date'],               
    how='left'                                
)

# Drop the extra columns from movies_with_ratings
merged = merged.drop(columns=['name', 'date'])

print(movies.shape)
print(merged.shape)
merged.head()

(865, 8)
(910, 9)

,movie_id,movie_title,genres,original_language,image_url,runtime,spoken_languages,year_released,rating
0,napoleon-dynamite,Napoleon Dynamite,['Comedy'],en,sm/upload/wu/r9/ma/tt/2VMXuUAvU8T0oQl0w77CqVAR...,95,['English'],2004,7.36
1,insomnia-2002,Insomnia,"['Crime', 'Mystery', 'Thriller']",en,film-poster/5/1/7/3/9/51739-insomnia-0-230-0-3...,118,['English'],2002,7.06
2,a-bugs-life,A Bug's Life,"['Adventure', 'Animation', 'Comedy', 'Family']",en,film-poster/4/7/1/1/1/47111-a-bug-s-life-0-230...,95,['English'],1998,6.90
3,before-midnight,Before Midnight,"['Romance', 'Drama']",en,film-poster/1/0/2/4/4/4/102444-before-midnight...,109,"['English', 'ελληνικά', 'Français']",2013,8.14
4,searching-2018,Searching,"['Thriller', 'Mystery', 'Drama']",en,film-poster/4/2/0/4/6/7/420467-searching-0-230...,102,['English'],2018,7.44

There appears to be rows added in the merge. Let's check for duplicates.

In [37]:
duplicates = merged[merged.duplicated()]

duplicates

,movie_id,movie_title,genres,original_language,image_url,runtime,spoken_languages,year_released,rating
124,hush-2016,Hush,"['Horror', 'Thriller']",en,sm/upload/uy/c2/ed/fu/khDYdmPFlaTqeLQVD4ds4xC1...,82,['English'],2016,NaN
125,hush-2016,Hush,"['Horror', 'Thriller']",en,sm/upload/uy/c2/ed/fu/khDYdmPFlaTqeLQVD4ds4xC1...,82,['English'],2016,NaN
136,alice-in-wonderland-2010,Alice in Wonderland,"['Family', 'Fantasy', 'Adventure']",en,sm/upload/qp/te/tw/3j/alice-in-wonderland-orig...,108,['English'],2010,NaN
227,split-2016,Split,"['Horror', 'Thriller']",en,sm/upload/5e/pw/vs/km/8CHJcVc5IGXS1sC5DyjeMwTD...,117,['English'],2016,NaN
228,split-2016,Split,"['Horror', 'Thriller']",en,sm/upload/5e/pw/vs/km/8CHJcVc5IGXS1sC5DyjeMwTD...,117,['English'],2016,NaN
229,split-2016,Split,"['Horror', 'Thriller']",en,sm/upload/5e/pw/vs/km/8CHJcVc5IGXS1sC5DyjeMwTD...,117,['English'],2016,NaN
275,the-gift-2015-1,The Gift,"['Thriller', 'Mystery', 'Drama']",en,film-poster/2/5/5/9/2/7/255927-the-gift-0-230-...,108,['English'],2015,NaN
276,the-gift-2015-1,The Gift,"['Thriller', 'Mystery', 'Drama']",en,film-poster/2/5/5/9/2/7/255927-the-gift-0-230-...,108,['English'],2015,NaN
488,silence,Silence,"['Drama', 'History']",en,film-poster/5/2/5/0/4/52504-silence-0-230-0-34...,161,"['日本語', 'English']",2016,NaN
489,silence,Silence,"['Drama', 'History']",en,film-poster/5/2/5/0/4/52504-silence-0-230-0-34...,161,"['日本語', 'English']",2016,NaN
490,silence,Silence,"['Drama', 'History']",en,film-poster/5/2/5/0/4/52504-silence-0-230-0-34...,161,"['日本語', 'English']",2016,NaN
491,silence,Silence,"['Drama', 'History']",en,film-poster/5/2/5/0/4/52504-silence-0-230-0-34...,161,"['日本語', 'English']",2016,NaN
492,silence,Silence,"['Drama', 'History']",en,film-poster/5/2/5/0/4/52504-silence-0-230-0-34...,161,"['日本語', 'English']",2016,NaN
493,silence,Silence,"['Drama', 'History']",en,film-poster/5/2/5/0/4/52504-silence-0-230-0-34...,161,"['日本語', 'English']",2016,NaN
500,the-babysitter-2017,The Babysitter,"['Horror', 'Comedy']",en,sm/upload/06/mp/w2/ub/86a7GRVRCwfl7wdI4QadyvKa...,85,['English'],2017,NaN
531,hercules-1997,Hercules,"['Animation', 'Family', 'Fantasy', 'Adventure'...",en,film-poster/4/4/8/3/8/44838-hercules-0-230-0-3...,93,"['English', 'Español', 'ελληνικά']",1997,NaN
654,the-visit-2015,The Visit,"['Horror', 'Thriller', 'Mystery']",en,film-poster/2/2/5/4/3/7/225437-the-visit-0-230...,94,['English'],2015,NaN
655,the-visit-2015,The Visit,"['Horror', 'Thriller', 'Mystery']",en,film-poster/2/2/5/4/3/7/225437-the-visit-0-230...,94,['English'],2015,NaN
656,the-visit-2015,The Visit,"['Horror', 'Thriller', 'Mystery']",en,film-poster/2/2/5/4/3/7/225437-the-visit-0-230...,94,['English'],2015,NaN
657,the-visit-2015,The Visit,"['Horror', 'Thriller', 'Mystery']",en,film-poster/2/2/5/4/3/7/225437-the-visit-0-230...,94,['English'],2015,NaN

Due to being unable to merge by unique id, there have been some duplicates introduced. Let's explore the duplicates to see if there were any records of those films inserted with some different data.

In [38]:
the_visit = merged[merged['movie_title'] == 'The Visit']
print(the_visit)

           movie_id movie_title                             genres  \
652  the-visit-2015   The Visit  ['Horror', 'Thriller', 'Mystery']
653  the-visit-2015   The Visit  ['Horror', 'Thriller', 'Mystery']
654  the-visit-2015   The Visit  ['Horror', 'Thriller', 'Mystery']
655  the-visit-2015   The Visit  ['Horror', 'Thriller', 'Mystery']
656  the-visit-2015   The Visit  ['Horror', 'Thriller', 'Mystery']
657  the-visit-2015   The Visit  ['Horror', 'Thriller', 'Mystery']

    original_language                                          image_url  \
652                en  film-poster/2/2/5/4/3/7/225437-the-visit-0-230...
653                en  film-poster/2/2/5/4/3/7/225437-the-visit-0-230...
654                en  film-poster/2/2/5/4/3/7/225437-the-visit-0-230...
655                en  film-poster/2/2/5/4/3/7/225437-the-visit-0-230...
656                en  film-poster/2/2/5/4/3/7/225437-the-visit-0-230...
657                en  film-poster/2/2/5/4/3/7/225437-the-visit-0-230...

     runtime spoken_languages  year_released  rating
652       94      ['English']           2015    6.12
653       94      ['English']           2015     NaN
654       94      ['English']           2015     NaN
655       94      ['English']           2015     NaN
656       94      ['English']           2015     NaN
657       94      ['English']           2015     NaN

For this movie we have multiple duplicate records inserted but only one contains a rating, nothing else changed. Let's see if other duplicated records follow this same pattern.

In [39]:
cols_except_rating = [col for col in merged.columns if col != 'rating']

duplicates = merged[merged.duplicated(subset=cols_except_rating, keep=False)]

print(duplicates)

                movie_id     movie_title  \
27         the-apartment   The Apartment
28         the-apartment   The Apartment
122            hush-2016            Hush
123            hush-2016            Hush
124            hush-2016            Hush
..                   ...             ...
664  the-lighthouse-2019  The Lighthouse
673       yesterday-2019       Yesterday
674       yesterday-2019       Yesterday
903       malignant-2021       Malignant
904       malignant-2021       Malignant

                                         genres original_language  \
27               ['Comedy', 'Drama', 'Romance']                en
28               ['Comedy', 'Drama', 'Romance']                en
122                      ['Horror', 'Thriller']                en
123                      ['Horror', 'Thriller']                en
124                      ['Horror', 'Thriller']                en
..                                          ...               ...
664  ['Drama', 'Fantasy', 'Thriller', 'Horror']                en
673   ['Music', 'Comedy', 'Romance', 'Fantasy']                en
674   ['Music', 'Comedy', 'Romance', 'Fantasy']                en
903           ['Horror', 'Mystery', 'Thriller']                en
904           ['Horror', 'Mystery', 'Thriller']                en

                                             image_url  runtime  \
27   film-poster/5/1/7/7/4/51774-the-apartment-0-23...      125
28   film-poster/5/1/7/7/4/51774-the-apartment-0-23...      125
122  sm/upload/uy/c2/ed/fu/khDYdmPFlaTqeLQVD4ds4xC1...       82
123  sm/upload/uy/c2/ed/fu/khDYdmPFlaTqeLQVD4ds4xC1...       82
124  sm/upload/uy/c2/ed/fu/khDYdmPFlaTqeLQVD4ds4xC1...       82
..                                                 ...      ...
664  film-poster/4/3/3/8/6/3/433863-the-lighthouse-...      109
673  film-poster/4/4/4/7/9/9/444799-yesterday-0-230...      116
674  film-poster/4/4/4/7/9/9/444799-yesterday-0-230...      116
903  film-poster/5/4/6/3/4/8/546348-malignant-0-230...      112
904  film-poster/5/4/6/3/4/8/546348-malignant-0-230...      112

    spoken_languages  year_released  rating
27       ['English']           1960    8.86
28       ['English']           1960     NaN
122      ['English']           2016    6.42
123      ['English']           2016     NaN
124      ['English']           2016     NaN
..               ...            ...     ...
664      ['English']           2019     NaN
673      ['English']           2019    5.78
674      ['English']           2019     NaN
903      ['English']           2021    6.12
904      ['English']           2021     NaN

[68 rows x 9 columns]

Let's drop the duplicated movies with no rating and then see if there is the expected row count.

In [40]:
cols_except_rating = [col for col in merged.columns if col != 'rating']
merged = merged.drop_duplicates(subset=cols_except_rating, keep='first')

merged.shape

(865, 9)

The row count matches, let's check for any duplicates on the joined columns just to be sure.

In [41]:

duplicates = merged[merged.duplicated(subset=['movie_title', 'year_released'], keep=False)]

duplicates

,movie_id,movie_title,genres,original_language,image_url,runtime,spoken_languages,year_released,rating
200,black-panther-2018,Black Panther,"['Action', 'Adventure', 'Science Fiction']",en,film-poster/2/0/9/3/8/3/209383-black-panther-0...,134,"['English', '한국어/조선말', 'Kiswahili']",2018,7.3
890,black-panther,Black Panther,"['Action', 'Adventure', 'Science Fiction']",en,film-poster/2/0/9/3/8/3/209383-black-panther-0...,134,"['English', '한국어/조선말', 'Kiswahili']",2018,7.3

Black panther was duplicated with a different movie_id in the original movies table so this is expected. We will explore further to decide which one to keep. Ex Machina was also duplicated with a different movie_id and release date, let's look at it here:

In [42]:
ex_machina_records = merged[merged["movie_title"] == "Ex Machina"]
ex_machina_records

,movie_id,movie_title,genres,original_language,image_url,runtime,spoken_languages,year_released,rating
859,ex-machina-2014,Ex Machina,"['Drama', 'Science Fiction']",en,film-poster/1/8/7/9/8/6/187986-ex-machina-0-23...,108,['English'],2014,NaN
909,ex-machina-2015,Ex Machina,"['Drama', 'Science Fiction']",en,film-poster/1/8/7/9/8/6/187986-ex-machina-0-23...,108,['English'],2015,7.96

The 2015 version is the one with a rating so we decided to keep that one in the user_ratings table and will do the same here now.

In [43]:
merged = merged[merged["movie_id"] != "ex-machina-2014"]
ex_machina_records = merged[merged["movie_title"] == "Ex Machina"]
ex_machina_records

,movie_id,movie_title,genres,original_language,image_url,runtime,spoken_languages,year_released,rating
909,ex-machina-2015,Ex Machina,"['Drama', 'Science Fiction']",en,film-poster/1/8/7/9/8/6/187986-ex-machina-0-23...,108,['English'],2015,7.96

Now let's do the same for Black Panther:

We'll consolidate to black-panther-2018 just to retain a more unique id.

In [44]:
merged = merged[merged["movie_id"] != "black-panther"]
black_panther_records = merged[merged["movie_title"] == "Black Panther"]
black_panther_records

,movie_id,movie_title,genres,original_language,image_url,runtime,spoken_languages,year_released,rating
200,black-panther-2018,Black Panther,"['Action', 'Adventure', 'Science Fiction']",en,film-poster/2/0/9/3/8/3/209383-black-panther-0...,134,"['English', '한국어/조선말', 'Kiswahili']",2018,7.3

I don't want to do anything else to these tables, let's check again for any missing values or duplicates:

In [45]:
duplicates = merged[merged.duplicated()]
print(f"Number of duplicates: {len(duplicates)}")

missing_data = merged.isnull().any(axis=1)
df_missing = merged[missing_data]

print(f"Number of records with missing values: {len(df_missing)}")

Number of duplicates: 0
Number of records with missing values: 18

In [46]:
print(df_missing.isnull().sum())

movie_id              0
movie_title           0
genres                0
original_language     0
image_url             0
runtime               0
spoken_languages      0
year_released         0
rating               18
dtype: int64

A few records have missing ratings as those movies weren't present in the movies_with_ratings table. It's a small enough number that we can ignore those films so I'll drop those records.

In [47]:
merged_clean = merged.dropna()
merged_clean.reset_index(drop=True, inplace=True)
merged_clean.shape

(845, 9)

I'm happy now, let's export the result of the merge into a CSV file so we can test against it in the pipeline (and use it in our enrich/aggregation step).

In [ ]:
merged_clean.to_csv(
    "../tests/test_data/expected_merged_clean_results.csv", index=False
)